JWT_SECRET=...
BREVO_API_KEY=....
OTPLength=6
FROMEMAIL=email
FROMNAME=app_name
APPNAME=Market-API

EXPIRY_TIME=int

PAYSTACK_BASE_URL=https://api.paystack.co
PAYSTACK_SECRE_KEY=..

PLATFORM_PERCENT=0
PAYSTACK_CHANNELS=channels

POSTGRES_DATABASE=market-api
POSTGRES_USERNAME=user
POSTGRES_PASSWORD=..